.Calendar {
  color: #2c3e50;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  .theme-default {
    .cv-day {
      &.today {
        background-color: #F8F4E0;
        .cv-day-number {
          border-radius: 50%;
          background-color: #FF515D;
          color: black;
          font-weight: 700;
          padding: .5em;
          right: 5px;
          top: 5px;
        }
      }
    }
    .cv-event {
      background-color: #FF515D;
      color: white;
      font-size: .75em;
      margin-top: 1.5em;
      padding: .5em;
      @media screen and (max-width: 991px) {
        min-height: 100px;
        line-height: 1.2;
        text-overflow: unset;
        white-space: normal;
      }
    }
    &.period-week {
      .cv-week {
        min-height: 15em;
      }
    }
  }
  .cv-week {
    min-height: 8em;
    @media screen and (max-width: 991px) {
      min-height: 10em;
    }
  }
}
.Calendar__buttons .btn-primary:not(:disabled):not(.disabled).active {
  background-color: #099a8c;
}
