.Cards {
  display: flex;
  flex-wrap: wrap;
  &--25 {
    justify-content: space-between;
    .Cards__item {
      width: 23%;
      @media screen and (max-width: 991px) {
        width: 32%;
      }
      @media screen and (max-width: 767px) {
        width: 48%;
      }
      @media screen and (max-width: 575px) {
        width: 100%;
      }
    }
  }
}
.Cards__item {
  margin-bottom: 1.5rem;
}
.Cards__figure {
  margin-bottom: 0;
  img {
    border-radius: .8rem .8rem 0 0;
  }
}
.Cards__info {
  align-items: center;
  background-color: $secondColor;
  border-radius: 0 0 .8rem .8rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.Cards__info__date {
  color: white;
  font-size: .875rem;
  font-weight: 700;
  margin: 0;
}
.Cards__info__link {
  align-items: center;
  color: white;
  display: flex;
  font-size: .75rem;
  font-weight: 300;
}
