.Dashboard {
  display: flex;
  min-height: 100vh;
}
.Dashboard__figure {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  min-height: 100%;
  position: relative;
  width: 100%;
  img {
    display: none;
  }
}
.Dashboard__info {
  align-content: center;
  background-color: rgba($firstColor, .7);
  color: white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  width: 50%;
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.Dashboard__info__title, .Dashboard__info__text {
  width: 100%;
}
.Dashboard__info__title {
  color: white;
  font-size: 4rem;
  font-weight: 500;
  span {
    display: block;
    font-size: .66em;
  }
}
