.Filters {
  margin: 1.5rem 0;
}
.Form {
  &--filters {
    .form-control {
      color: white;
      font-family: $openSans;
      font-size: 1rem;
      font-weight: 600;
      &::placeholder {
        color: white;
      }
      @media screen and (max-width: 991px) {
        font-size: .875rem;
      }
      @media screen and (max-width: 767px) {
        height: 50px !important;
        padding: .8rem 1rem !important;
      }
    }
    .input-group {
      .form-control {
        background-color: $secondColor;
        @media screen and (max-width: 767px) {
          height: 50px;
          padding: .8rem 1rem !important;
        }
      }
      .input-group-text {
        background-color: #4aa1dd;
        color: white;
      }
      @media screen and (max-width: 575px) {
        margin-bottom: .8rem;
      }
    }
    .Select--custom {
      background: $secondColor url('../images/arrow-select.png') 100% 50% no-repeat;
      border-radius: .25rem;
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 100%;
      @media screen and (max-width: 575px) {
        margin-bottom: .8rem;
      }
      .form-control {
        appearance: none;
        background-color: transparent;
      }
      option {
        background-color: $secondColor;
      }
    }
    input[type="date"] {
      &:focus {
        background-color: $secondColor;
      }
    }
  }
}
.Form__group {
  position: relative;
  &.has-feedback {
    &.has-error {
      .Form__control {
        border-color: var(--danger);
      }
      .help-block {
        color: var(--danger);
      }
      .form-control--feedback {
        color: var(--danger);
      }
    }
    &.has-success {
      .Form__control {
        border-color: var(--success);
      }
      .form-control-feedback {
        color: var(--success);
      }
    }
    .form-control-feedback {
      align-items: center;
      display: flex;
      height: 50px;
      font-size: 1.5em;
      justify-content: center;
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
    }
    select.Form__control {
      + .form-control-feedback {
        right: 30px;
      }
    }
  }
}
.Form__label {
  &--check {
    color: $borderColor;
    a {
      color: $borderColor;
      &:focus, &:hover {
        color: $secondColor;
      }
    }
  }
}
.Form__control {
  border-color: $borderColor;
  color: $borderColor;
  padding: .8rem .75rem;
  &::placeholder {
    font-weight: 300;
  }
  &:focus {

  }
  &[disabled] {
    &::placeholder {
    }
  }
}
// select.Form__control:not([size]):not([multiple]) {
//   height: auto;
// }
.Form__rotate {
  font-size: 1.5em;
  vertical-align: middle;
}
