body {
  background-color: $bodyBg !important;
  color: $textColor;
  font-family: $openSans;
  font-size: 16px;
}
.Body {
  &--login {
    height: 100vh;
    padding-top: 10%;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: $titleColor;
  font-weight: 300;
}
h1, .h1 {
  font-size: 2.25rem;
}
h2, .h2 {
  font-size: 1.875rem;
}
h3, .h3 {
  font-size: 1.5rem;
}
h4, .h4 {
  font-size: 1.125rem;
}
h5, .h5 {
  font-size: .875rem;
}
h6, .h6 {
  font-size: .75rem;
}
a {
  color: $secondColor;
  font-weight: 700;
  transition: color .3s ease-out, background-color .2s ease-in-out;
  &.hover, &:focus, &:hover {
    color: $thirdColor;
    text-decoration: none;
  }
}
p {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.5;
  @media screen and (max-width: 991px) {
    font-size: 1rem;
  }
  &.big {
    font-size: 1rem;
  }
  &.small {
    font-size: .75rem;
  }
}
li {
  font-size: .875rem;
  font-weight: 300;
  line-height: 1.5;
}
.big {
  font-size: 1rem;
}
.small {
  font-size: .875rem;
}
.firstColor {
  color: $firstColor;
}
.secondColor {
  color: $secondColor;
}
.thirdColor {
  color: $thirdColor;
}
.accentColor {
  color: $accentColor;
}
.darkColor {
  color: $darkColor;
}
.textColor {
  color: $textColor;
}
.whiteColor {
  color: white;
}
.firstColorBg {
  background-color: $firstColor;
}
.secondColorBg {
  background-color: $secondColor;
}
.thirdColorBg {
  background-color: $thirdColor;
}
.accentColorBg {
  background-color: $accentColor;
}
.darkColorBg {
  background-color: $darkColor;
}
.textColorBg {
  background-color: $textColor;
}
.column-seperation {
  > div[class*="col-"] {
    border-right: 1px solid #ddd;
    &:last-child {
      border-right: none;
    }
  }
}
.ArrowTop {
  background-color: $secondColor;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(black, .5);
  cursor: pointer;
  bottom: 25px;
  color: white;
  display: none;
  font-size: 2rem;
  padding: 0 .5rem;
  position: fixed;
  right: 25px;
  transition: background-color .3s ease-out;
  &:focus, &:hover {
    background-color: $thirdColor;
  }
}
