// Colors:
$firstColor: #1f376c; //
$secondColor: #348fce; //
$thirdColor: #3d424f; //
$accentColor: #3a3a3a;
$darkColor: #2f2f2f; //
$borderColor: #939292;
$textColor: #6f7b8a; //
$titleColor: #505458;
$bodyBg: #e5e9ec; //

$grayColor: #5e5e5e;

// Fonts:
$openSans: 'Open Sans', sans-serif;
